* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    height: 100vh;
    background: rgb(17,110,42);
    background: linear-gradient(90deg, rgba(17,110,42,1) 22%, rgba(171,77,160,1) 84%);
    background-size: cover;
    font-family: cursive;
}

.wrapper {
    
    width: 350px;
    height: 500px;
    background: inherit;
    
    top: 50%;
    left: 50%;
    overflow: hidden;
    margin-left: -175px;
    margin-top: -250px;
    border-radius: 8px;
}

form img {
    width: 120px;
    height: 120px;
    border-radius: 50px;
}

form {
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.diseño {
    background: 0;
    width: 200px;
    outline: none;
    border: none;
    border-bottom: 2px solid rgba(15, 11, 59, 0.3);
    margin: 20px 0;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    color: rgba(238, 236, 248, 0.8);
}


.wrapper:before {
    width: 400px;
    height: 450;
    content: "";
    position: absolute;
    top: -25px;
    left: -25;
    bottom: 0;
    right: 0;
    background: inherit;
    box-shadow: inset 0 0 0 200px rgba(255, 255, 255, 0.2);
    filter: blur(10px);
}


input[type="submit"] {
    border: none;
    border-radius: 8px;
    border-bottom: 0;
    height: 40px;
    width: 120px;
    background: rgb(4, 79, 33);
    color: white;
    cursor: pointer;
    transition: backgraund-color .3s;
}

input[type="submit"]:hover {
    background: rgba(171,77,160,1);
    color: rgb(249, 245, 245);

}

span a {
    color: rgba(255, 255, 255, 0.8);

}