* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    height: 100vh;
    background: rgb(189, 209, 117);
    background: linear-gradient(90deg, rgba(171, 202, 105, 1) 22%, rgb(17, 110, 42, 1) 84%);
    background-size: cover;
    font-family: cursive;
}

.formpet {
    margin: 0 auto;
    width: 400px;
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
}

.NombreyEdad {
    border: none;
    border-radius: 8px;
    border-bottom: 0;
    height: 40px;
    width: 220px;
    padding-left: 10px;
    background: rgb(222, 242, 219);
    color: rgb(26, 25, 25);
    cursor: pointer;
    transition: backgraund-color .3s;
}

.btn-Petform {
    border: none;
    border-radius: 8px;
    border-bottom: 0;
    height: 40px;
    width: 120px;
    background: rgb(4, 79, 33);
    color: white;
    cursor: pointer;
    transition: backgraund-color .3s;

}

.btn-Petform:hover {
    background: rgba(171, 77, 160, 1);
    color: rgb(249, 245, 245);

}

.progress {
    height: 4px;
    /* Ajusta la altura de la barra de progreso */
}

.progress-bar {
    height: 100%;
    /* Ajusta la altura de la barra de progreso */
    background-color: #144a1b;
    
}