
.formpet {
    margin: 0 auto;
    width: 400px;
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
}

.NombreyEdad {
    border: none;
    border-radius: 8px;
    border-bottom: 0;
    height: 40px;
    width: 220px;
    padding-left: 10px;
    background: rgb(222, 242, 219);
    color: rgb(26, 25, 25);
    cursor: pointer;
    transition: backgraund-color .3s;
}
#Descripction1 {
    border-radius: 8px;
    height: 70px;
    width: 220px;
    background: rgb(222, 242, 219);
}


.btn-Petform:hover {
    background: rgba(171, 77, 160, 1);
    color: rgb(249, 245, 245);

}
